/* Reset all elements */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Reset specific elements */
html,
body {
  height: 100vh;
}

body > div {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
